*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";

html{
    scroll-behavior: smooth;
    font-size: 62.5%; //10px
}

body{
    width: 100%;
    height: 100vh;
    position: relative;

    scroll-behavior: smooth;
    font-size: 1.6rem; //16px

    background-color: #1a1a1a;
}

svg, img {
    display: block;
    width: 100%;
}

.border{
    border: 1px solid red;
}

@import "partials/menu";
@import "partials/swiper";
@import "partials/icons";
@import "partials/footer";
@import "partials/animations";